body {
    margin:0;
    padding:0;
    text-align:center;
}

.RandomStudent{
    width:100%;
    margin:2% 0 2% 2%;
    float:left;
    display:block;
    text-align:left;
}

.Create{
    width:100%;
    margin:1% 0 2% 2%;
    float:left;
    display:block;
    text-align:left;
}

.Calculate{
    width:100%;
    margin:1% 0 2% 2%;
    float:left;
    display:block;
    text-align:left;
}

.CalculateResult{
    width:100%;
    margin:1% 0 2% 2%;
    float:left;
    display:block;
    text-align:left;
}

.Result{
    width:100%;
    margin:1% 0 0 2%;
    float:left;
    display:block;
    text-align:left;
}

.algoritma{
    margin:1% 0 0 0;
}

.button{
    text-align:center;
    display:block;
    float:left;
    margin:0 0.5% 0 0;
}

.textbox{
    text-align:center;
    display:block;
    float:left;
    margin:0 0.5% 0 0;
}

.fileUpload{
    text-align:center;
    display:block;
    float:left;
    margin:0 0.5% 0 0;
}

.label{
    display:block;
    float:left;
    margin:0 0.5% 0 0;
    text-align:left;
}

.clc{
    clear:both;
    height:5%;
}
